[ ca ]
default_ca		= CA_default

[ CA_default ]
dir			= ./
certs			= $dir
crl_dir			= $dir/crl
database		= $dir/index.txt
new_certs_dir		= $dir
certificate		= $dir/server.pem
serial			= $dir/serial
crl			= $dir/crl.pem
private_key		= $dir/server.key
RANDFILE		= $dir/.rand
name_opt		= ca_default
cert_opt		= ca_default
default_days		= {{cert_server_default_days}}
default_crl_days	= 30
default_md		= {{cert_server_default_md}}
preserve		= no
policy			= policy_match

[ policy_match ]
countryName		= match
stateOrProvinceName	= match
organizationName	= match
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

[ req ]
prompt			= no
distinguished_name	= server
default_bits		= {{cert_server_default_bits}}
input_password		= {{cert_server_input_password}}
output_password		= {{cert_server_output_password}}

[server]
countryName		= {{cert_country}}
{% if cert_state is defined %}
stateOrProvinceName	= {{cert_state}}
{% else %}
#stateOrProvinceName	=
{% endif %}
{% if cert_local is defined %}
localityName		= {{cert_local}}
{% else %}
#localityName		=
{% endif %}
{% if cert_org is defined %}
organizationName	= {{cert_org}}
{% else %}
#organizationName	=
{% endif %}
{% if cert_unit is defined %}
organizationalUnitName	= {{cert_unit}}
{% else %}
#organizationalUnitName	=
{% endif %}
{% if cert_server_email is defined %}
emailAddress		= {{cert_server_email}}
{% else %}
#emailAddress	=
{% endif %}
commonName		= {{cert_server_common_name}}
